<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1vyJ2FeHszOjn3uNNZqEpa-vb_JqaHsY</string>
	<key>GCM_SENDER_ID</key>
	<string>125082193979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codebase</string>
	<key>PROJECT_ID</key>
	<string>templatecodebase</string>
	<key>STORAGE_BUCKET</key>
	<string>templatecodebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125082193979:ios:6fcd092e43910151a1cc1e</string>
</dict>
</plist>